<div style="margin-top:-105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius:15px 0 0 15px;box-shadow:0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Trabajo desde el desarrollo, pruebas automáticas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET ,ASP.NET MVC , SQL Server
            </p>
            <p class="text-primary- cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Desarrollo de Servicios WCF</li>
                <li>Desarrollo de aplicaciones ASP.NET ,ASP.NET MVC y WebApis</li>
                <li>Microservicios en NET CORE 3.1 y 6.0</li>
                <li>Domain Driven & API Driven Design</li>
                <li>Creación de especificaciones OpenAPI 3.0</li>
                <li>N-layer, Solid</li>
                <li>Patrones de desarrollo de software</li>
                <li>Mecanismos de autenticación y control de acceso (Microsoft ASP.NET Identity, Oauth2)</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius:0 15px 15px 0;box-shadow:0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                html,bootstrap
            </p>
            <p class="text-primary- cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Javascript moderno</li>
                <li>Jquery</li>
                <li>Devexpress</li>
            </ul>
        </div>
    </div>
</div>