<div class="text-center">
    <i style="color:red;font-size:40px" class="bi-alarm"></i>
    <h1 class="display-4">Soy Jorge Diestra (didijoca (-_-) ) (41) </h1>
    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y JavaScript</h2>
    <img id="foto" src="~/imagenes/foto_familia.jpg" alt="Foto de Jorge Diestra" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/DOTNET.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy Profesional en Informática con experiencia laboral en el ámbito nacional e internacional,
            actualmente desarrollo aplicaciones en .NET y NET Core con el lenguaje de programación C# base de datos SQLServer
            además soy desarrollador ETL con Integration Service data tools, utilizo metodología scrum, llevo 12 años
            desarrollando sistemas con alto nivel transaccional.
        </p>
    </div>
</div>